[Unit]
Description=Job that starts gunicorn running superlists app

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/superlists/stagingSite/source
ExecStart=/home/ubuntu/sites/superlists/stagingSite/virtualenv/bin/gunicorn --bind unix:/tmp/superlistsStaging.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
